* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  width: 100%;
}

.cursor {
  transform: translate(-50%, -50%);
  z-index: 10;
}

.page3-hero-right-img {
  background-image: url("https://aquadev.site/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fblockchain2.437dc116.jpg&w=1920&q=75");
  background-size: cover;
  background-position: center;
}

.page4-hero-left-img {
  background-image: url("https://aquadev.site/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcover2.7b19cdc9.png&w=3840&q=75");
  background-size: cover;
  background-position: center;
}

.page6-div > h2 {
  position: relative;
}

.page6-div > h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10%;
  background-color: black;
  height: 8px;
  width: 0%;
  transition: all ease 0.5s;
}

.page6-div > h2:hover::after {
  width: 100%;
}
